<section id="landingAbout">
    <div class="container">
        <div class="row">
            <div class="col-12 col-landing">
                <h1 class="title-landing">Hi, HOWDY!</h1>
                <hr style="border: solid 2px #fff" width="20%">
                <p style="color: #fff;">
                    SOCIAL NETWORK FRONT END DESIGN - BY COMPUTER ENGINEERING 2019. <br>
                    IF300-A INTRODUCING TO INTERNET TECHNOLOGY
                </p>
            </div>
        </div>
    </div>
</section>

<section id="meetTheTeam">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="meet-title">MEET THE TEAM</h2>
                <hr class="float-left" style="margin-bottom: 3rem; border: solid 2px rgb(255, 94, 0)" width="10%">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-3 card-team scaleOne">
                        <div class="row" style="margin-bottom: 1rem;">
                            <div class="col">
                                <img src="https://source.unsplash.com/HW_6USwudbo" style="width: 80%;" />
                            </div>
                        </div>
                        <b style="font-size: medium;">Abdul Ghofar Alhasyim</b><br>
                        <p>00000038118</p>
                    </div>
                    <div class="col-3 card-team">
                        <div class="row" style="margin-bottom: 1rem;">
                            <div class="col">
                                <img src="https://source.unsplash.com/zBvVuRJ71vU" style="width: 80%;" />
                            </div>
                        </div>
                        <b style="font-size: medium;">Larasati</b><br>
                        <p>00000041403</p>
                    </div>
                    <div class="col-3 card-team scaleOne">
                        <div class="row" style="margin-bottom: 1rem;">
                            <div class="col">
                                <img src="https://source.unsplash.com/bmGy-eqrl1k" style="width: 80%;" />
                            </div>
                        </div>
                        <b style="font-size: medium;">Tezard Almafazan Mulia</b><br>
                        <p>00000042460</p>
                    </div>
                    <div class="col-3 card-team">
                        <div class="row" style="margin-bottom: 1rem;">
                            <div class="col">
                                <img style="width: 100%;" src="https://source.unsplash.com/J7rRzjba-kY" style=" width: 80%;" />
                            </div>
                        </div>
                        <b style="font-size: medium;">Michelle Hillary</b><br>
                        <p>00000042304</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer-landing">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
            <div class="row">
                <div class="col-12 footer-title">
                    <h2>OUR COMPONENT</h2>
                    <hr style="border: solid 2px #fff" width="10%">
                </div>
            </div>
              <div class="row" style="margin-top: 2rem;">
                  <div class="col-4 text-center">
                    <i class="fa fa-ravelry fa-3x" style="color: #fff;" aria-hidden="true"></i><br><br>
                    <b style="font-size: large;">ANGULAR</b>
                  </div>
                  <div class="col-4 text-center">
                    <i class="fa fa-hashtag fa-3x" aria-hidden="true"></i><br><br>
                    <b style="font-size: large;">BOOTSTRAP</b>
                </div>
                <div class="col-4 text-center">
                    <i class="fa fa-github fa-3x" aria-hidden="true"></i><br><br>
                    <b style="font-size: large;">GITPAGES</b>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>