<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" >
  <div class="container">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home-page">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-color" href="#">Message</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Notification
        </a>
        <div class="dropdown-menu dropdown-menu-me chat" aria-labelledby="navbarDropdown">
          <!-- <button (click)="getCommentFromAPI()">GET POST</button><br> -->
          Notification<br>
          <hr style="color: rgb(192, 192, 192);">
            <div *ngFor="let notif of userComment" style="font-size: small;" class="col-12 ml-auto notif-list">
              <div class="row notif-hover">
                <div class="col-2 ">
                  <img src="{{notif.owner.picture}}" class="post-picture-profile"/>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col-12">
                    <div class="col-10">
                    <b>{{notif.owner.firstName}} {{notif.owner.lastName}}</b> commented : <br>
                    {{notif.message}}
                    </div>
                    <div class="col-2">
                      {{notif.publishDate}}
                    </div>
                    </div>
                  </div>
                  <hr style="color: rgb(192, 192, 192);">
                </div>
              </div>
            </div>
            <div class="col-12">
            <div class="row">
              <div class="col text-left">
                <span style="font-size: small;">See all in messanger</span>
              </div>
              <div class="col text-right">
                <span style="font-size: small;">Mark All as read</span>
              </div>
            </div>
            </div>
        </div>
      </li>
    </ul>

    <div class="btn-group">
      <a style="cursor: pointer; font-size: medium;" data-toggle="dropdown" id="dropProfile" aria-haspopup="true" aria-expanded="false">
        Lilja Lampinen &nbsp;&nbsp;
        <img src="https://randomuser.me/api/portraits/women/50.jpg" class="icon-picture-profile logo"/>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropProfil">
        <a class="dropdown-item" routerLink="/profile-timeline" ><i class="fa fa-user-o" aria-hidden="true"></i>
           Profile</a>
        <a class="dropdown-item" routerLink="/about-us" ><i class="fa fa-user-o" aria-hidden="true"></i>
            Abous Us</a>
      </div>
    </div>

  </div>

  </div>
</nav>

<div style="margin-top: 50px;">

</div>
<router-outlet></router-outlet>